.nosotros-container {
  padding: 40px;
  background: url(https://res.cloudinary.com/dwkq16pdu/image/upload/v1758158094/a467d1a2fe5b03c7dd993b99d993228b_usm1ac.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
  background-position: center;
}


.hero-nosotros {
  text-align: center;
  margin-bottom: 50px;
}

.hero-nosotros h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

.hero-nosotros p {
  font-size: 1.2rem;
  color: white;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.card-info {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.card-info h2 {
  margin-bottom: 10px;
  color: white;
}

.card-info p {
  color: white;
  font-size: 1rem;
}

.equipo {
  text-align: center;
}

.team-grid {
  display: grid;
  gap: 25px;
  margin-top: 30px;
  justify-content: center;
}

.team-card {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.team-card:hover {
  transform: translateY(-6px);
}

.team-card img {
  width: 30%;
  height: auto;
  border-radius: 20%;
  margin-bottom: 10px;
}

.team-card h3 {
  margin: 8px 0 4px;
  font-size: 1.1rem;
  color: white;
}

.team-card p {
  font-size: 0.9rem;
  color: white;
}
.equipo h2 {
  color: white;
}