.image-fondo{
    padding: 20px;
    background: url(https://res.cloudinary.com/dwkq16pdu/image/upload/v1758157511/17459_l4ntzc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;

}
.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 350px;
}

.product-img {
  width: 100px;
  height: auto;
  border-radius: 6px;
}

.producto-caro {
  border: 2px solid red;
  background-color: #ffe5e5;
}

.producto-barato {
  border: 2px solid green;
  background-color: #e5ffe5;
}

.remove-btn {
  margin-left: auto;
  padding: 6px 12px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e60000;
}
.cart-summary{
  h2{
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .checkout-btn{
    background-color: #e60000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
  }
}